.divA {
    display: flex;
    justify-content: center;
    margin-top: 5px;

}

.divB {
    display: flex;
    direction: row;
    gap: 4px;
}

.text1 {
    font-size: 40px;
    padding: 10px;
    margin: 10px;
    border-right: rgb(139, 188, 230) solid;
    font-family: cursive;
}

.text2 {
    font-size: 40px;
    padding: 10px;
    margin: 10px;
    border-left: rgb(139, 188, 230) solid;
    direction: rtl
}

.menu {
    background-color: rgb(139, 188, 230);
    font-size: 25px;
    display: flex;
    top: 0;
    direction: ltr;
    text-align: left;
    margin-top: 30px;
    height: 250px;
    padding: 10px;
    gap: 20px;
    margin-bottom: 10px;
}

.photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.title {
    font-size: 25px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    height: 50px;
    padding-top: 10px;
    padding-bottom: auto;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.title1 a:hover {
    font-size: larger;
}

.contact {
    background-color: rgb(139, 188, 230);
    text-align: rtl;
    margin-top: 30px;
    height: 100px;
    padding-top: 10px;
    gap: 20px;
}

.list {
    display: flex;
    flex-direction: row;
}

@font-face {
    font-family: 'Vazirmatn';
    src: url('../fonts/webfonts/Vazirmatn-Medium.woff2')format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'vazirmatn';
}

.box {
    height: 340px;
    backdrop-filter: blur(10px);
    width: 280px;
    border: rgb(206, 205, 205) solid 2px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

.top {
    text-align: center;
    color: black;
    font-weight: 100;
    margin-left: 80px;
    margin-top: 0%;
    margin-right: 80px;
    background-color: rgb(206, 205, 205);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

}

.form {
    border-radius: 50px;
    border: rgb(206, 205, 205) solid 1.5px;
    margin-top: 10px;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: transparent;
    margin-left: 15px;
    height: 40px;
    width: 250px;
}

.form2 {
    border-radius: 50px;
    border: rgb(206, 205, 205) solid 1.5px;
    margin-top: 20px;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: transparent;
    margin-left: 15px;
    height: 40px;
    width: 250px;
}

.submit {
    margin-left: 15px;
    margin-right: auto;
    background-color: aliceblue;
    border-radius: 50px;
    margin-top: 15px;
    width: 250px;
    height: 30px;
    outline: none;
    box-shadow: none;
    border: aliceblue;
}

.form3 {
    color: aliceblue;
    margin-top: 10px;
    font-size: 13px;
}

.forgetme {
    display: flex;
    flex-direction: row;
    color: aliceblue;
    gap: 0px;
}

.icon {
    position: relative;
    display: inline-block;
}

.icon i {
    position: absolute;
    right: 15px;
    top: 50%;
    font-size: 10px;
    color: aliceblue;
}

.radio {
    appearance: none;
    border-radius: 0%;
    background-color: aliceblue;
    width: 10px;
    height: 10px;
}

.box2 {
    height: 340px;
    background-color: white;
    width: 280px;
    border: white solid 2px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    padding-left: 20px;
}

.title2 {
    margin-bottom: 5px;
    font-size: 10px;
    margin-top: 50px;
    color: rgb(178, 176, 176);
}

.form4 {
    width: 230px;
    height: 38px;
    border: 1.5px rgb(178, 176, 176) solid;
    border-radius: 10px;
    padding-right: 10px;
    direction: rtl;
    text-align: right;
}

.form5 {
    width: 230px;
    height: 38px;
    border: 1.5px rgb(178, 176, 176) solid;
    border-radius: 10px;
    padding-right: 10px;
    direction: rtl;
    text-align: right;
}

.title3 {
    margin-bottom: 5px;
    font-size: 10px;
    margin-top: 20px;
    color: rgb(178, 176, 176);
}

.forgetpassword {
    display: flex;
    flex-direction: row;
    color: rgb(225, 89, 89);
    gap: 0;
}

.rememberme {
    color: black;
    margin-top: 20px;
    font-size: 13px;
    margin-left: 0%;
}

.forgetpassword2 {
    margin-right: 25px;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 13px;
    font-weight: 100;
}

.signin {
    width: 230px;
    height: 35px;
    background-color: rgb(66, 66, 240);
    color: white;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 20px;
    outline: none;
    box-shadow: none;
    border: rgb(66, 66, 240);
}

.schoolbox {
    width: 500px;
    height: 500px;
    background-color: white;
    border: rgb(241, 237, 229) 2px solid;
    border-radius: 5px;
    text-align: right;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding-right: 30px;
    padding-top: 20px;
    margin-bottom: 100PX;
}

.title4 {
    margin-bottom: 5px;
    font-size: 13px;
    margin-top: 20px;
    color: rgb(145, 138, 118);
}

.schoolform {
    width: 440;
    height: 35px;
    border: rgb(206, 206, 206) 1px solid;
    margin-left: 30px;
    text-align: right;
    border-radius: 1px;
}

.level {
    display: block;
    direction: rtl;
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 13px;
    font-weight: 100;
    color: rgb(174, 171, 171);
    margin-top: 5px;
    margin-bottom: 5px;
}

.submit2 {
    justify-content: left;
    margin-left: 60px;
    background-color: rgb(72, 200, 72);
    height: 30px;
    width: 40px;
    border-radius: 4px;
    text-align: center;
    direction: ltr;
    outline: none;
    box-shadow: none;
    border: rgb(72, 200, 72);
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.teacherbox {
    width: 500px;
    height: 650px;
    background-color: whitesmoke;
    border: rgb(225, 224, 224) 2px solid;
    border-radius: 3px;
    text-align: right;
    margin-left: 30px;
    margin-right: auto;
    margin-top: 100px;
    padding-right: 30px;
    padding-top: 20px;
    margin-bottom: 100PX;
}

.teachertitle {

    margin-bottom: 5px;
    font-size: 13px;
    margin-top: 20px;
    color: grey;
}

.teacherform {
    width: 440;
    height: 35px;
    border: rgb(167, 167, 167) 1px solid;
    margin-left: 30px;
    text-align: right;
    border-radius: 1px;
    padding-right: 10px;
}

.teachersubmit {
    background-color: green;
    text-align: center;
    font-size: 13px;
    margin-top: 15px;
    direction: ltr;
    margin-right: 395px;

}

.teacherlogin {
    background-color: rgb(0, 128, 0);
    width: 230px;
    height: 29px;
    text-align: center;
    font-size: 15px;
    margin-top: 15px;
    direction: ltr;
    margin-right: 395px;
    outline: none;
    box-shadow: none;
    border: rgb(0, 128, 0);
}

.title5 {
    margin-bottom: 5px;
    font-size: 15px;
    margin-top: 20px;
    color: rgb(178, 176, 176);
    text-align: right;
    direction: rtl;
    margin-right: 45px;
}

.mainheader {
    background-color: rgb(2, 2, 164);
    text-align: right;
    direction: rtl;
    width: cover;
    height: 70px;
    margin-top: 30px;
    padding-bottom: auto;
    padding-top: 35px;
}

.head {
    text-align: center;
    margin-top: 10px;
    color: rgb(2, 2, 164);
}

.contactbox {
    width: 300px;
    height: 100px;
    border-radius: 5px;
    border: 1.5px rgb(2, 2, 164) solid;

}

.mainfooter {
    background-color: rgb(2, 2, 164);
    text-align: right;
    direction: rtl;
    width: cover;
    height: 70px;
    margin-top: 30px;
    padding-bottom: auto;
    padding-top: 35px;

}

@font-face {
    font-family: 'Vazirmatn';
    src: url('fonts/variable/Vazirmatn[wght].ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.box3 {
    width: 300px;
    height: 300px;
    border: 1.5px rgb(139, 188, 230) solid;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    text-align: right;
}

.marktitle {
    background-color: rgb(139, 188, 230);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    width: 150px;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.markform {
    width: 250px;
    height: 30px;
    border: 1.5px rgb(139, 188, 230) solid;
    border-radius: 5px;
    padding-right: 10px;
    direction: rtl;
    margin-right: 20px;
    margin-top: 10px;
}

.marksubmit {
    margin-left: auto;
    margin-right: 20px;
    margin-top: 10px;
    text-align: center;
    background-color: rgb(77, 77, 196);
    border-radius: 1px;
    width: 250px;
    height: 30px;
    outline: none;
    box-shadow: none;
    border: rgb(77, 77, 196);
}

.correct {
    background-color: rgb(0, 128, 0);
    width: 230px;
    height: 29px;
    text-align: center;
    font-size: 15px;
    margin-top: 0%;
    direction: rtl;
    margin-left: 900px;
    margin-right: 10px;
    outline: none;
    box-shadow: none;
    border: rgb(0, 128, 0);
    margin-top: 15px;
}

.error {
    background-color: rgb(248, 81, 81);
    width: 230px;
    height: 29px;
    text-align: center;
    font-size: 15px;
    margin-top: 0%;
    direction: rtl;
    margin-left: 900px;
    margin-right: 10px;
    outline: none;
    box-shadow: none;
    border: rgb(248, 81, 81);
}

.note {
    background-color: rgb(163, 0, 0);
    width: 260px;
    height: 45px;
    text-align: right;
    font-size: 15px;
    margin-top: 0%;
    direction: rtl;
    margin-left: 870px;
    margin-right: 10px;
    outline: none;
    box-shadow: none;
    border: rgb(163, 0, 0);
}

.image {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.form6 {
    width: 230px;
    height: 38px;
    border: 1.5px rgb(230, 231, 237) solid;
    border-radius: 10px;
    padding-right: 10px;
    direction: rtl;
    text-align: right;
}

.box4 {
    height: 340px;
    background-color: white;
    width: 280px;
    border: white solid 2px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    margin-top: 10px;
    font-size: 13px;
}

.title6 {
    margin-bottom: 5px;
    font-size: 13px;
    margin-top: 5px;
    color: rgb(178, 176, 176);
    text-align: right;
    direction: rtl;
    margin-right: 45px;
}

.divc {
    justify-content: left;
    margin-left: 10px;
    background-color: #dcdcdcaf;
    height: 30px;
    width: 40px;
    border-radius: 4px;
    text-align: center;
    direction: ltr;
    outline: none;
    box-shadow: none;
    border: #dcdcdcaf;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.background-video {
    top: 100px;
    left: 0;
    width: 100%;
    height: 600px;
}

.background-video video {
    width: 100%;
    height: 600px;
    object-fit: cover;

}

.indexheader {
    height: 100px;
    width: 1265px;
    display: flex;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    text-align: right;
    direction: rtl;


}

.logo {
    justify-content: right;
    height: 100px;
    margin-right: 15px;
}

.videotext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: aliceblue;
    background-color: rgba(77, 77, 77, 0.2);
    border-radius: 10px;
    display: block;
}

.sbmt{
    position: absolute;
    width: 100px;
    text-align: center;
    justify-content: center;
    height: 25px;
    border-radius: 40px;
    border: 0.5px white solid;
    background-color: transparent;
    padding-top: 10px;
    padding-right: 7px;
    padding-left:7px;
    padding-bottom: 10px;
    top: 89%;
    left: 50%;
    transform: translate(-50%);
    color: white;
}
